@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body, html {
  height: 100%;
}

.bg {
  background-image: url(../images/translation.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.list {
    font-family: 'Montserrat', sans-serif;
}